<ion-view cache-view="false" title="Alle Kompetenzen" id="page18">
  <ion-content padding="true" class="has-header">
    <ion-search-bar class="bar-light bar-subheader">
      <input type="search"
             placeholder="Filter Competence..."
             ng-model="search"
             ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="scrollTop()"
             class="full-width">
      <!--button ng-if="search.length"
              class="button button-icon ion-android-close input-button"
              ng-click="clearSearch()">
      </button-->
    </ion-search-bar>
    <ion-list id="meineKompetenzen-list7" ng-repeat= "item in competences | filter: search">
      <ion-item  ng-click="addCompetenceInfo(item.id)">{{item.name}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
