<ion-view title="Kompetenz hinzufügen" id="page22">
    <ion-content padding="true" class="has-header">
        <form id="kompetenzHinzufGen-form22" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Ko...">
            </label>
            <div class="spacer" style="width: 300px; height: 12px;"></div>
            <button id="kompetenzHinzufGen-button25" style="font-weight:500;color:#000000;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-energized button-small">Kochen</button>
            <button id="kompetenzHinzufGen-button26" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Koreanisch</button>
            <button id="kompetenzHinzufGen-button27" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Kostenrechnung</button>
            <button id="kompetenzHinzufGen-button28" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Kontomanagement</button>
        </form>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <h5 id="kompetenzHinzufGen-heading11" style="color:#000000;">Hast du Interesse an...?</h5>
        <button id="kompetenzHinzufGen-button31" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Java</button>
        <button id="kompetenzHinzufGen-button32" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">PHP</button>
        <button id="kompetenzHinzufGen-button33" style="font-weight:500;color:#000000;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-energized button-small">Videoaufnahmen</button>
        <button id="kompetenzHinzufGen-button34" style="font-weight:500;color:#000000;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-energized button-small">Theater</button>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <h5 id="kompetenzHinzufGen-heading12" style="color:#000000;">Kannst du auch ...?</h5>
        <button id="kompetenzHinzufGen-button35" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Musizieren</button>
        <button id="kompetenzHinzufGen-button36" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Poesie</button>
        <button id="kompetenzHinzufGen-button37" style="font-weight:500;font-size:12px;border-radius:10px 10px 10px 10px;" class="button button-dark button-small button-outline">Fotografie</button>
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <a ui-sref="tabsController.myCompetencies" id="kompetenzHinzufGen-button30" class="button button-balanced  button-block">Hinzufügen</a>
    </ion-content>
</ion-view>
