<ion-view cache-view="false" title="Meine Aufgaben">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-energized2 icon ion-android-add-circle scale" ng-click="makeNewTask()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="item item-divider">Teilgenommene Aufgaben:</div>
    <ion-list can-swipe="false">
      <!-- @TODO: sort-->
      <div ng-repeat="task in participatingTasks | orderBy: 'startTime'" class="parent item">
        <task-preview task="task" action="" ng-click="loadSingleTask(task.id)"></task-preview>
      </div>
    </ion-list>
    <hr>
    <div class="item item-divider">Beobachtete Aufgaben:</div>
    <ion-list can-swipe="true">
      <!-- @TODO: sort-->
      <div ng-repeat="task in followingTasks | orderBy: 'startTime'" class="parent item">
        <task-preview task="task" action="'unfollow'" ng-click="loadSingleTask(task.id)"></task-preview>
      </div>
    </ion-list>
    <hr>
    <div class="item item-divider">Von mir angeführte Aufgaben:</div>
    <ion-list can-swipe="false">
      <!-- @TODO: sort-->
      <div ng-repeat="task in leadingTasks | orderBy: 'startTime'" class="parent item">
        <task-preview task="task" action="" ng-click="loadSingleTask(task.id)"></task-preview>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
