<ion-view title="NeueKompetenz" hide-nav-bar="false">
<ion-nav-buttons side="right" class="has-header">
  <button class="button icon ion-checkmark"  ng-click="save()"></button>
</ion-nav-buttons>
<ion-content padding="true" class="manual-ios-statusbar-padding">

  <h5 style="color:#327FE2;">Erstelle eine neue Kompetenz:</h5>
  <div style="color:#000000;">
    <form>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name:</span>
        <textarea ng-model="competence.name" style="background-color:white;"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description:</span>
        <textarea ng-model="competence.description" style="background-color:white;"></textarea>
      </label>
    </form>
  </div>
</ion-content>
</ion-view>
