<ion-view title="Organisationen" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="content-title assertive">Meine Organisationen</div>
        </div>
      </div>
      <ion-list id="organisationen-list15">
        <ion-item class="item-thumbnail-left" id="organisationen-list-item36" ui-sref="tabsController.organisation_rk">
          <img src="img/q7perPkMTTinsZEC4Fdw_rklogo.gif">
          Rotes Kreuz Linz
          <span class="item-note">
            <i class="icon ion-arrow-right-c"></i>
          </span>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="organisationen-list-item37" ui-sref="tabsController.organisation_rk">
          <img src="img/logo_wds.png">
          Waldorfschule Linz
          <span class="item-note">
            <i class="icon ion-arrow-right-c"></i>
          </span>
        </ion-item>
      </ion-list>
      <div class="row">
        <div class="col">
          <div class="content-title assertive">Weitere Organisationen</div>
        </div>
      </div>
      <form id="organisationen-form23" class="list">
        <div class="row">
          <div class="col">
            <div class="content-title assertive">Suche</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Li...">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="content-title assertive">Filter</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="item item-input" id="organisationen-input17">
              <span class="input-label">Ort</span>
              <input type="text" placeholder="Linz">
            </label>
          </div>
          <div class="col">
            <label class="item item-select" id="organisationen-select3">
              <span class="input-label">Radius</span>
              <select>
                <option>10 km</option>
                <option>20 km</option>
                <option>50 km</option>
                <option>100 km</option>
                <option>alle</option>
                <option></option>
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button id="organisationen-button60" class="button button-positive  button-block">Suchen</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
