<ion-view title="Rotes Kreuz Linz" id="page11">
    <ion-content padding="true" class="has-header">
        <ion-list id="rotesKreuzLinz-list16">
            <ion-item class="item-thumbnail-left" id="rotesKreuzLinz-list-item42">
                <img src="img/fHp1lYySd2AxKHTyQVL3_rklogo.gif">
                <h2>Rotes Kreuz</h2>
                <p style="white-space:normal;">Linz</p>
            </ion-item>
        </ion-list>
        <div id="rotesKreuzLinz-markdown14" class="organisation-wrapper">
            <h3 class="organisation-header">Über uns: </h3>
            <p class="organisation-description">Die Zeitspende in Form der freiwilligen Mitarbeit ist die wichtigste Spende an das Rote Kreuz. Gemäß
                unseres Leitbilds – Wir sind da um zu helfen. Aus Liebe zum Menschen – leisten mehr als 73.000 Menschen
                ihren Beitrag als Freiwillige im Roten
                Kreuz in den diversesten Tätigkeitsfeldern.</p>
        </div>
        <div id="rotesKreuzLinz-button-bar8" class="button-bar">
            <button id="rotesKreuzLinz-button68" class="button button-balanced  button-block">Anmelden</button>
            <button id="rotesKreuzLinz-button70" class="button button-energized  button-block">Mitglied werden</button>
        </div>
        <ion-list id="rotesKreuzLinz-list17">
            <ion-item class="item-divider" id="rotesKreuzLinz-list-item-divider22">Mitglieder</ion-item>
            <ion-item class="item-avatar" id="rotesKreuzLinz-list-item47">
                <img src="img/fhdir8UTSpmrwsvuSPVq_avatarfem2.jpg">
                <h2>Rosa Bauer</h2>
            </ion-item>
            <ion-item class="item-avatar" id="rotesKreuzLinz-list-item48">
                <img src="img/I61OO6v9RYuK9y4j5jEF_avatarfem.png">
                <h2>Katharina Huber</h2>
            </ion-item>
            <ion-item class="item-avatar" id="rotesKreuzLinz-list-item51">
                <img src="img/8Syyc3FShyiKBD6Fz05z_avatar2.png">
                <h2>Manfred Gartner</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>