<ion-view hide-nav-bar="false">
  <ion-nav-title>{{formTitle}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-checkmark"  ng-click="save_changes()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">
    <div class="item item-divider-top">Basisinformationen</div>
    <div>
      <form name="taskForm" onsubmit="event.preventDefault" novalidate>
        <div class="form-block form-group" ng-class="{'has-error has-feedback': taskForm.name.$dirty && taskForm.name.$invalid, 'has-success has-feedback':taskForm.name.$dirty && taskForm.name.$valid}">
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Titel*:</span>
            <input type="text" ng-model="task.name" name="name" style="background-color:white;" placeholder="Name..."
                   aria-describedby="inputError2Status" class="form-control" required>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="taskForm.name.$dirty && taskForm.name.$invalid"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="taskForm.name.$dirty && taskForm.name.$valid"></span>
           <span id="inputError2Status" ng-show="taskForm.name.$dirty && taskForm.name.$invalid" class="help-block">
                   Bitte geben Sie einen Tasktitel ein.
               </span>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Beschreibung:</span>
            <textarea ng-model="task.description" placeholder="Beschreibung..." ></textarea>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Zahl der Freiwilligen:</span>
            <input type="number" min="0" ng-model="task.minAmountOfVolunteers" placeholder="Anzahl...">
          </label>
        </div>
        <div class="form-block" >
          <div class="item item-divider-top">Zeit und Ort</div>

          <div class="time-select-box item item-input">
            <ion-list>
              <ion-radio ng-model="task.choice" ng-value="'slot'" class="no-border-radius" >Zeitraum</ion-radio>
              <ion-radio ng-model="task.choice" ng-value="'point'" class="no-border-radius" >Zeitpunkt</ion-radio>

            </ion-list>

            <div ng-show="task.choice == 'slot'" class="time-slot">

              <label class="item item-input c-timebox ">
              <span class="input-label bold">Beginn:</span>
              <input type="datetime-local" ng-model="task.startTime"  ng-class="{'has-error' : !task.startTime}" >
            </label>
              <label class="item item-input c-timebox">
                <span class="input-label bold">Ende:</span>
                <input type="datetime-local" ng-model="task.endTime" ng-class="{'has-error' : !task.endTime}" >
              </label>
            </div>

            <div ng-show="task.choice == 'point'" class="time-point ">
              <label class="item item-input c-timebox ">
                <span class="input-label bold"></span>

              </label>
              <label class="item item-input c-timebox ">
                <span class="input-label bold">Ende:</span>
                <input type="datetime-local" ng-model="task.endTime" ng-class="{'has-error' : !task.endTime}" >
              </label>
            </div>



          </div>


          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Ort:</span>
            <input type="text" ng-model="task.location" placeholder="Ort..."  >
          </label>
        </div>

        <div class="form-block-border" >
          <div class="item item-divider-top">Notwendige Kompetenzen:</div>
          <ion-list>
            <ion-item  ng-cloak class="no-border-radius">
              <div ng-repeat="competence in neededCompetences | orderBy: 'name' " ng-cloak>
                <c-accordion title="competence.name" class="">

                  <div class="internal-block">
                    <label class="item item-input range">
                      <span class="input-label">Wichtigkeit</span>
                      <input type="range" min="0" max="100" ng-model="competence.importanceLevel"  >
                      <p>{{competence.importanceLevel}}</p>
                    </label>
                    <label class="item item-input range">
                      <span class="input-label">Können</span>
                      <input type="range" min="0" max="100" ng-model="competence.neededProficiencyLevel"  >
                      <p>{{competence.neededProficiencyLevel}}</p>
                    </label>
                    <label class="item item-input item-toggle">
                      <span class="input-label">Zwingend</span>
                      <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="competence.mandatory">
                        <div class="track">
                          <div class="handle"></div>
                        </div>
                      </label>
                    </label>
                    <button type="button" ng-click="removeCompetence(competence)"
                                          class="button button-full button-assertive ion-ios-trash-outline no-border-radius"> Löschen</button>
                  </div>
                </c-accordion>
              </div>
              <br>
              <custom-accordion>
                <custom-accordion-head>
                  <div class="item item-divider ion-plus">
                    Kompetenz hinzufügen
                  </div>
                </custom-accordion-head>
                <custom-accordion-body>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Kompetenz
                    </div>
                    <select ng-model="competenceToAdd.id">
                      <option>--bitte wählen--</option>
                      <option ng-repeat="competence in availableCompetences | orderBy: 'name'" ng-value="competence.id">
                      {{ competence.name }}
                      </option>
                    </select>
                  </label>
                  <label class="item item-input range">
                    <span class="input-label">Wichtigkeit</span>
                    <input type="range" min="0" max="100" ng-model="competenceToAdd.importanceLevel">
                    <p>{{competenceToAdd.importanceLevel}}</p>
                  </label>
                  <div>


                  </div>
                  <label class="item item-input range">
                    <span class="input-label">Können</span>
                    <input type="range" min="0" max="100" ng-model="competenceToAdd.neededProficiencyLevel">
                    <p>{{competenceToAdd.neededProficiencyLevel}}</p>
                  </label>

                  <div class="item item-toggle">
                    Zwingend
                    <label class="toggle toggle-assertive">
                      <input type="checkbox" ng-model="competenceToAdd.mandatory">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                  </div>
                  <div>
                    <!--<span>-->
                    <!--<i class="ion-information-circled"></i>-->
                    <!--<span>-->
                    <!--Die Kategorie &bdquo;Wichtigkeit&ldquo; bezieht sich auf die Aufgabe, wie wichtig diese für mich ist-->
                    <!--bzw. für das Gelingen des Projekts.-->
                    <!--</span>-->
                    <!--</span>-->

                  </div>
                  <button type="button" ng-click="addCompetence()" class="button button-block button-positive ion-plus no-border-radius"> Hinzufügen</button>
                </custom-accordion-body>
              </custom-accordion>
            </ion-item>
          </ion-list>
        </div>

        <div class="form-block">
          <div class="item item-divider-top">Benötigte Materialien:</div>
          <ion-list>
            <div  ng-cloak>
              <ion-item>
                <div class="row row-header">
                  <span class="material-header-name">Name: </span>
                  <span class="material-header-amount">Menge: </span>
                  <span class="material-header-description">Beschreibung: </span>
                </div>
                <div class="row row-content" ng-repeat="material in task.materials">
                  <input type="text" class="material-content-name"        ng-model="material.name">
                  <input type="number" class="material-content-amount"    ng-model="material.quantity">
                  <input type="text" class="material-content-description" ng-model="material.description">
                  <button type="button" ng-click="removeMaterial(material)" class="button button-small button-assertive "> Entfernen</button>
                </div>
                <div class="new-material">

                  <c-accordion title="' Material hinzufügen'" >
                    <div class="list">
                      <label class="item item-input item-stacked-label">
                        <span class="input-label new-material-label">Name</span>
                        <input ng-model="materialToAdd.name" placeholder="Name" type="text" class="new-material-input">
                      </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label new-material-label">Menge</span>
                        <input type="number" ng-model="materialToAdd.quantity" placeholder="Menge" class="new-material-input">
                      </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label new-material-label">Beschreibung</span>
                        <textarea ng-model="materialToAdd.description" placeholder="Beschreibung" class="new-material-input"></textarea>
                      </label>
                      <button type="button" ng-click="addMaterial()" class="button button-full button-positive ion-plus no-border-radius"> Hinzufügen</button>
                    </div>

                  </c-accordion>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </form>
    </div>
    <br>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button ng-click="readyToPublish()"     ng-if="showReadyToPublishSingle || isNewTask" class="button button-small button-full no-border-radius button-positive ion-checkmark"> Bereit </button>
      <button ng-click="readyToPublishTree()" ng-if="showReadyToPublishTree" class="button button-small button-full no-border-radius button-positive ion-checkmark"> Bereit (Alle) </button>
      <button ng-click="save_and_publish()"   ng-if="showPublish || isNewTask" class="button button-small button-full no-border-radius button-balanced ion-eye"> Veröffentlichen </button>
    </div>
  </ion-footer-bar>
</ion-view>
