<ion-view title="Typography" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="item item-divider">Headings</div>
          <h1>H1 Heading</h1>
          <h2>H2 Heading</h2>
          <h3>H3 Heading</h3>
          <h4>H4 Heading</h4>
          <h5>H5 Heading</h5>
          <h6>H6 Heading</h6>

          <p>Paragraph</p>
          <hr>
          <p>divider</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Colors</div>
          <button class="button button-1">
            button-1 #1C7DC9
          </button>
          <button class="button button-2">
            button-2 #33A58C
          </button>
          <button class="button button-3">
            button-3 #B070B2
          </button>
          <button class="button button-4">
            button-4 #855CB7
          </button>
          <button class="button button-5">
            button-5 #ef4a44
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Buttons</div>
          <button class="button button-block">
            button-block
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-full">
            button-full
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-small">
            button-small
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-large">
            button-large
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-outline">
            button-outline
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-clear">
            button-clear
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button icon ion-home">
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button icon icon-left ion-home">
            Home
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button icon icon-right ion-home">
            Home
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="button-bar">
            <a class="button">1</a>
            <a class="button">2</a>
            <a class="button">3</a>
            <a class="button">4</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">List</div>
          <div class="list">
            <div class="item item-divider">Item Divider 1</div>
            <div class="item">Item 1</div>
            <div class="item">Item 2</div>
            <div class="item">Item 3</div>

            <div class="item item-divider">Item Divider 2</div>
            <div class="item">Item 4</div>
            <div class="item">Item 5</div>
            <div class="item">Item 6</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Card</div>
          <div class="card list">
            <div class="item item-divider">
              Card header
            </div>

            <div class="item item-text-wrap">
              Card text...
            </div>

            <div class="item item-divider">
              Card Footer
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Form</div>
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Label 1</span>
              <input type="text" placeholder="Placeholder 1">
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Label 2</span>
              <input type="text" placeholder="Placeholder 2">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Toggle</div>
          <ul class="list">
            <li class="item item-toggle">
              <label class="toggle">
                Toggle 1
                <input type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
            <li class="item item-toggle">
              <label class="toggle">
                Toggle 2
                <input type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Checkbox</div>
          <ul class="list">
            <li class="item item-checkbox">
              Checbox
              <label class="checkbox">
                <input type="checkbox">
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Radio</div>
          <form class="list">
            <ion-radio name="group1">Choice 1</ion-radio>
            <ion-radio name="group1">Choice 2</ion-radio>
            <ion-radio name="group1">Choice 3</ion-radio>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Range</div>
          <div class="item range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name ="volume">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Select</div>
          <label class="item item-input item-select">
            <div class="input-label">
              Select
            </div>
            <select>
              <option>Option 1</option>
              <option selected>Option 2</option>
              <option>Option 3</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">Tabs</div>
          <div class="tabs">
            <a class="tab-item">
              Tab 1
            </a>
            <a class="tab-item">
              Tab 2
            </a>
            <a class="tab-item">
              Tab 3
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
