<ion-view title="Willkommen" hide-back-button="true" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Assistent zum schnellen Einrichten deines Profils</h4>
          <div>
            <p>Wir stellen dir ein paar Fragen um dich besser kennenzulernen und dir Aufgaben zu zeigen welche auf dein persönliches Profil passen.</p>

            <p>Nimm dir doch bitte ein paar Minuten Zeit oder führe den Assistenten später durch indem du ihn in deinem Profil aufrufst.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a ui-sref="tabsController.home_tab1" id="willkommen-button10" class="button button-block button-outline button-positive button-balanced">Fertig</a>
        </div>
        <div class="col">
          <a ui-sref="tabsController.home_tab1" id="willkommen-button12" class="button button-block button-outline button-positive button-assertive">Später ausführen</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
