<ion-item ng-class="['item-task', { 'item-subtask': isSubtask }]">
  <div class="row responsive-sm">
    <div class="col" ng-if="!isSubtask"><h2>{{task.name}}</h2></div>
    <div class="col" ng-if="isSubtask"><h3>{{task.name}}</h3></div>
    <div class="col icon ion-calendar">{{task.startTime | date: 'shortDate'}} - {{task.endTime | date: 'shortDate'}}</div>
    <div class="col" ng-if="statusNotPublished">
      <i class="icon ion-locked"   ng-class="{ assertive : !task.readyToPublish }"></i>
      <i class="icon ion-unlocked" ng-class="{ positive  : task.readyToPublish }" ></i>
    </div>
    <div class="col" ng-if="!statusNotPublished">
      <i class="icon ion-asterisk"  ng-class="{ energized: statusPublished }"></i>
      <i class="icon ion-loop"      ng-class="{  positive: statusStarted }"></i>
      <i class="icon ion-checkmark" ng-class="{  balanced: statusCompleted }"></i>
    </div>
  </div>
  <div class="row" ng-if="!isSubtask">
    <div class="col"><p>{{task.description}}</p></div>
  </div>

  <ion-option-button class="button-positive" ng-click="follow(task.id)" ng-if="showFollow">Folgen</ion-option-button>
  <ion-option-button class="button-assertive" ng-click="unfollow(task.id)" ng-if="showUnfollow">Nicht mehr Folgen</ion-option-button>
  <!--
  <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"></ion-delete-button>
  <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
  -->
</ion-item>
