<ion-menu [content]="content">
  <ion-content>
    <ion-navbar></ion-navbar>
    <ion-list>
      <button ion-item (click)="openPage(loginPage)">
        Login
      </button>
      <button ion-item (click)="openPage(signupPage)">
        Signup
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
<!--
  <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-1">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu cache-view="false" side="left" id="side-menu21">
      <ion-content ng-controller="myCrAcMenuCtrl" padding="false" class="side-menu-left side-menu-gradiant">
        <div class="spacer" data-componentid="spacer9"></div>
        <div class="profile-image" data-componentid="image8">
          <a ui-sref="tabsController.myProfile" menu-close="">
            <img src="img/B27MBEuwSJ6wsdkIwFL6_avatar.png" width="100" height="auto">
          </a>
        </div>
        <h4 id="myCrAcMenu-heading14"data-componentid="heading14">{{user.firstName}} {{user.lastName}}</h4>
        <div class="spacer" data-componentid="spacer10"></div>
        <ion-list id="myCrAcMenu-list1" data-componentid="list1">
          <ion-item class="item-icon-left positive  side-menu-item" id="myCrAcMenu-list-item20"
                    ui-sref="tabsController.myProfile" menu-close="" data-componentid="list-item20">
            <i class="icon ion-android-person"></i>Mein Profil
          </ion-item>
          <ion-item class="item-icon-left positive  side-menu-item" id="myCrAcMenu-list-item12"
                    ui-sref="tabsController.myCompetencies_tab6" menu-close="" data-componentid="list-item12">
            <i class="icon ion-ios-list-outline"></i>Meine Kompetenzen
          </ion-item>
          <ion-item class="item-icon-left positive  side-menu-item" id="myCrAcMenu-list-item19"
                    ui-sref="tabsController.organisations" menu-close="" data-componentid="list-item19">
            <i class="icon ion-briefcase"></i>Organisationen
          </ion-item>
          <ion-item class="item-icon-left positive  side-menu-item" id="myCrAcMenu-list-item11"
                    ui-sref="tabsController.settings" menu-close="" data-componentid="list-item11">
            <i class="icon ion-ios-settings"></i>Einstellungen
          </ion-item>
          <ion-item class="item-icon-left positive side-menu-item" id="myCrAcMenu-list-item10"
                    ui-sref="tabsController.typography" menu-close="" data-componentid="list-item10">
            <i class="icon ion-android-color-palette"></i>Typography
          </ion-item>
          <ion-item class="item-icon-left positive  side-menu-item" id="myCrAcMenu-list-item6"
                    menu-close="" data-componentid="list-item6" ng-click="modal.show()">
            <i class="icon ion-log-out"></i>Abmelden
          </ion-item>
        </ion-list>
      </ion-content>

      <script id="logout-modal.html" type="text/ng-template">
        <ion-modal-view>
          <ion-content>
            <div class="row">
              <div class="col">
                <div class="content-title">Wirklich ausloggen?</div>
              </div>
            </div>
            <div class="row responsive-lg">
              <div class="col">
                <button ng-click="logout()" ui-sref="login" class="button button-block button-outline button-positive button-assertive">
                  <i class="ion-log-out"></i> Ja - ausloggen
                </button>
              </div>
              <div class="col">
                <button ng-click="modal.hide()" class="button button-block button-outline button-positive button-balanced">
                  <i class="ion-log-in"></i> Nein - eingeloggt bleiben
                </button>
              </div>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>

    </ion-side-menu>
  </ion-side-menus>
  -->
