<ion-view title="Home" id="page4">
  <!--<ion-nav-view></ion-nav-view>-->

  <ion-content padding="true" class="has-header">
        <ion-list id="startseite-list11">
            <ion-item class="item-divider" id="startseite-list-item-divider11">Aktuelles</ion-item>
            <ion-list id="startseite-list14">
                <ion-item id="startseite-list-item29">Jahreshauptversammlung am 12.12.2016</ion-item>
                <ion-item id="startseite-list-item31">T-Shirt Bestellung</ion-item>
            </ion-list>
            <ion-item class="item-divider" id="startseite-list-item-divider12">Vorgeschlagene Aufgaben</ion-item>

          <ion-list ng-controller="swipeCtrl"
                    show-delete="shouldShowDelete"
                    show-reorder="shouldShowReorder"
                    can-swipe="listCanSwipe">
            <!-- <div ng-repeat="task in tasks | filter: { taskState: completed } | filter: { taskState: started } | filter: search">-->
            <div ng-repeat="task in tasks">
              <task-preview task="task.task" ng-click="loadSingleTask(task.task.id)"></task-preview>
            </div>
          </ion-list>

            <ion-item class="item-divider" id="startseite-list-item-divider13">Freunde</ion-item>
            <ion-item class="item-avatar" id="startseite-list-item34">
                <img src="img/p1Y8ug2UQrKO8gvEjMgN_avatar2.png">
                <h2>Sarah</h2>
                <p>nimmt am Event BBQ teil.</p>
            </ion-item>
            <ion-item class="item-avatar" id="startseite-list-item35">
                <img src="img/CIydhiTQkCnBlKWzUccc_avatar3.png">
                <h2>Antonia</h2>
                <p style="white-space:normal;">hilft bei Beratungsgespräche für potentielle Freiwillige.</p>
            </ion-item>
            <ion-item class="item-divider" id="startseite-list-item-divider10">Freizeitaktivitäten</ion-item>
        </ion-list>
        <div class="item item-body row" id="startseite-list-item-container17">
            <div class="col">
                <img src="img/fgqGqgHQ6yI4A0QWjJwg_bbqsquare.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="col">
                <img src="img/41sdG3mQXWUStCeLnwM0_gamesquare.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="item item-body row" id="startseite-list-item-container18">
            <div class="col">
                <img src="img/osYv6JXRQLGIE7dYuILs_eventsquare.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="col">
                <img src="img/KgMmSjoReCKwloub3xfU_movie.jpeg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>
