<ion-view title="Anmelden" hide-back-button="true" id="page5" hide-nav-bar="true">
  <ion-content padding="true" class="has-header">
    <div class="container">
      <div class="profile-image">
        <img src="img/logo.png"/>
      </div>
      <div class="content-title assertive">Anmelden</div>
      <form id="anmelden-form1" name="authorizationForm">
        <ion-list id="anmelden-list2">
          <label class="item item-input" id="anmelden-input1" ng-class="{
                 'has-errors' : authorizationForm.username.$invalid && authorizationForm.username.$dirty,
                 'no-errors' : authorizationForm.username.$valid && !authorizationForm.username.$untouched}">
            <input type="text" placeholder="Benutzername" ng-model="data.username" name="username" required>
          </label>
          <label class="item item-input" id="anmelden-input2">
            <!--<span class="input-label">Passwort</span>-->
            <input type="password" placeholder="Passwort" ng-model="data.password" name="password" required>
          </label>
        </ion-list>
        <button class="button button-block button-outline button-positive button-balanced" ng-click="login()"  ng-disabled="authorizationForm.$invalid">
          <i class="ion-log-in"></i> Login
        </button>
        <div class="content-title">oder</div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-outline button-positive button-face" disabled ng-click="facebookLogin()">
              <i class="ion-social-facebook-outline"></i> Anmelden
            </button>
          </div>
          <!--<div class="col">
            <button class="button button-block button-outline button-positive button-google">
              <i class="ion-social-google-outline"></i> Anmelden
            </button>
          </div>-->
        </div>
        <a ui-sref="signup" id="anmelden-button2" class="button button-block button-outline button-positive button-energized" disabled>Neuen Account anlegen</a>
        <button class="button button-clear" disabled>
          Password vergessen?
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>


<!--
24.10. Original
<ion-view title="Anmelden" hide-back-button="true" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="anmelden-form1" class="list">
            <ion-list id="anmelden-list2">
                <label class="item item-input" id="anmelden-input1">
                    <span class="input-label">Benutzername</span>
                    <input type="text" placeholder="Benutzername">
                </label>
                <label class="item item-input" id="anmelden-input2">
                    <span class="input-label">Passwort</span>
                    <input type="password" placeholder="Passwort">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.startseite_tab1" id="anmelden-button1" class="button button-balanced  button-block">Anmelden</a>
            <a ui-sref="registrierung" id="anmelden-button2" class="button button-energized button-small button-block">Neuen Account anlegen</a>
        </form>
    </ion-content>
</ion-view>
-->
