<ion-view cache-view="false" title="Meine Aufgaben">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-energized2 icon ion-android-add-circle" ng-click="makeNewTask()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="item item-divider">Teilgenommene Aufgaben:</div>
    <ion-list>
      <!-- @TODO: sort-->
      <div ng-repeat="task in participatingTasks" class="parent item">
        <task-preview task="task" ng-click="loadSingleTask(task.id)"></task-preview>

        <!-- @DISCUSS: put these back in?  -->
        <!-- <div ng-repeat="childTask in task.childTasks" class="child">
          <task-preview task="childTask" ng-click="loadSingleTask(childTask.id)"></task-preview>
        </div> -->
      </div>
    </ion-list>
    <hr>
    <div class="item item-divider">Beobachtete Aufgaben:</div>
    <ion-list>
      <!-- @TODO: sort-->
      <div ng-repeat="task in followingTasks" class="parent">
        <task-preview task="task" ng-click="loadSingleTask(task.id)"></task-preview>

        <!-- @DISCUSS: put these back in?  -->
        <!-- <div ng-repeat="childTask in task.childTasks" class="child item">
          <task-preview task="childTask" ng-click="loadSingleTask(childTask.id)"></task-preview>
        </div> -->
      </div>
    </ion-list>
    <hr>
    <div class="item item-divider">Von mir angeführte Aufgaben:</div>
    <ion-list>
      <!-- @TODO: sort-->
      <div ng-repeat="task in leadingTasks" class="parent">
        <task-preview task="task" ng-click="loadSingleTask(task.id)"></task-preview>

        <!-- @DISCUSS: put these back in?  -->
        <!-- <div ng-repeat="childTask in task.childTasks" class="child item">
          <task-preview task="childTask" ng-click="loadSingleTask(childTask.id)"></task-preview>
        </div> -->
      </div>
    </ion-list>
  </ion-content>
</ion-view>
