<ion-view title="Neue Aufgabe" hide-nav-bar="false">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-checkmark"  ng-click="save()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">

    <h5 style="color:#327FE2;">Erstelle eine neue Aufgabe:</h5>
    <div style="color:#000000;">
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name:</span>
          <input type="text" ng-model="task.name" style="background-color:white;"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Beschreibung:</span>
          <textarea ng-model="task.description" style="background-color:white;"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Zahl der Freiwilligen:</span>
          <input type="number" min="1" ng-model="task.amountOfVolunteers" style="background-color:white;"></textarea>
        </label>
        <br>
        <div class="item item-divider">Zeit und Ort</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Beginn:</span>
          <input type="datetime-local" ng-model="task.startTime" style="background-color:white;">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ende:</span>
          <input type="datetime-local" ng-model="task.endTime" style="background-color:white;">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ort:</span>
          <input type="text" ng-model="task.location" style="background-color:white;"></textarea>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>
