<ion-view title="Registrierung" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="container">
      <div class="profile-image">
        <img src="img/logo.png"/>
      </div>
      <div class="content-title assertive">Neuen Account erstellen</div>
      <form id="registrierung-form2" class="list">
        <ion-list id="registrierung-list3">
          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input4">
                <input type="text" placeholder="Benutzername" required>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input6">
                <input type="text" placeholder="Email-Adresse" required>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input5">
                <input type="text" placeholder="Password" required>
              </label>
            </div>
          </div>

          <div class="content-title assertive">Über mich</div>

          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input3">
                <input type="text" placeholder="Vorname" required>
              </label>
            </div>
            <div class="col">
              <label class="item item-input" id="registrierung-input11">
                <input type="text" placeholder="Nachname" required>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input14">
                <input type="text" placeholder="PLZ">
              </label>
            </div>
            <div class="col">
              <label class="item item-input" id="registrierung-input15">
                <input type="text" placeholder="Ort">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input12">
                <input type="text" placeholder="Handynummer">
              </label>
            </div>
            <div class="col">
              <label class="item item-input" id="registrierung-input13">
                <input type="text" placeholder="Telefonnummer">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-input" id="registrierung-input16">
                <input type="text" placeholder="Geburtsdatum">
              </label>
            </div>
          </div>

          <div class="content-title assertive">Organisation</div>

          <div class="row">
            <div class="col">
              <label class="item item-select" id="registrierung-select1">
                <span class="input-label">Organisation</span>
                <select>
                  <option>Rotes Kreuz (Linz)</option>
                  <option>Rotes Kreuz (Pregarten)</option>
                  <option>Waldorfschule (Linz)</option>
                  <option>FF Gallneukirchen</option>
                </select>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-select" id="registrierung-select2">
                <span class="input-label">Rolle</span>
                <select>
                  <option>Freiwilliger</option>
                  <option>Mitarbeiter</option>
                  <option>Administrator</option>
                </select>
              </label>
            </div>
          </div>
        </ion-list>
        <a ui-sref="welcome" id="registrierung-button3" class="button button-block button-outline button-positive button-assertive">
          <i class="ion-checkmark-circled"></i> Registrieren und mit Guide starten</a>
      </form>
    </div>
  </ion-content>
</ion-view>
