<ion-view title="Tabs Controller" id="page1">
  <ion-tabs class="tabs-1 tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Startseite" icon="ion-android-home" href="#/tabcontroller/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Aufgabenliste" icon="ion-android-list" href="#/tabcontroller/tasklist" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meine Aufgaben" icon="ion-person" href="#/tabcontroller/mytasks" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Nachrichten" icon="ion-android-textsms" href="#/tabcontroller/messages" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>


    <!-- If deleted the sidemenu will not work anymore -->
    <ion-tab title="Profil_hidden" icon="ion-ios-person-outline" href="#/tabcontroller/myprofile" id="tabsController-tab5" class="hidden">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meine Kompetenzen_hidden" icon="ion-ios-camera" href="#/tabcontroller/tab6/mycompetencies" id="tabsController-tab6" class="hidden">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Einstellungen_hidden" icon="ion-ios-camera" href="#/tabcontroller/settings" id="tabsController-tab7" class="hidden">
      <ion-nav-view name="tab7"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Kompetenz_hidden" icon="ion-ios-camera" href="#/tabcontroller/addcompetency" id="tabsController-tab8" class="hidden">
      <ion-nav-view name="tab8"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Organisationen_hidden" icon="ion-ios-camera" href="#/tabcontroller/organisationen" id="tabsController-tab9" class="hidden">
      <ion-nav-view name="tab9"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Typography_hidden" icon="ion-ios-camera" href="#/tabcontroller/typography" id="tabsController-tab10" class="hidden">
      <ion-nav-view name="tab10"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Ausgewaehlte Organisation_hidden" icon="ion-ios-camera" href="#/tabcontroller/tab11/selectedOrganisation" id="tabsController-tab11" class="hidden">
      <ion-nav-view name="tab11"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
