<!--
  is this necessary?
<script src="../js/controllers/task/taskCtrl.js"></script>
-->
<ion-view cache-view="false" title="Aufgabe" hide-nav-bar="false">
  <ion-nav-buttons side="right" class="has-header">
    <button ng-click="edit()" ng-show="editableFlag" class="button icon ion-edit"></button>
    <button ng-click="makeNewSubTask()" ng-if="addSubTaskFlag" class="button icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">
    <div class="taskMainInfo" ng-cloak>

      <h2>{{task.name}}</h2>
      <p>{{task.description}}</p>
      <hr>
      <div class="row">
        <div style="margin: 0.5em; width: 5em; height: 5em;">
          <img class="img-responsive" src="img/VYlmQQCufa0Dowy1ZgZb_rkessen.jpg">
        </div>
        <div style="margin: 0.5em; width: 5em; height: 5em;">
          <img class="img-responsive" src="img/7HOqUb6jTTeJeafRKenN_wand.jpg">
        </div>
      </div>

      <c-accordion title="'Zeit und Ort'" shown="true">
        <div class="row">
          <div class="col-25">
            <div class="row"><span class="ion-calendar"> Zeit </span></div>
          </div>
          <div class="col">
            <div class="row"> Von: {{ task.startTime | date : "medium" }} </div>
            <div class="row"> Bis: {{ task.endTime | date : "medium" }} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <div class="row"><span class="ion-location"> Ort </span></div>
          </div>
          <div class="col">
            <div class="row"> {{task.location}} </div>
          </div>
        </div>
      </c-accordion>

      <c-accordion title="'Team'" shown="true">
        <div class="row">
          <div style="margin: 0.5em; width: 4em; height: 4em;">
            <img class="img-responsive" src="img/1lZ3VOkiRqOOdIDOu9mn_avatar.png">
          </div>
          <div style="margin: 0.5em; width: 4em; height: 4em;">
            <img class="img-responsive" src="img/1lZ3VOkiRqOOdIDOu9mn_avatar.png">
          </div>
          <div style="margin: 0.5em; width: 4em; height: 4em;">
            <img class="img-responsive" src="img/1lZ3VOkiRqOOdIDOu9mn_avatar.png">
          </div>
        </div>
      </c-accordion>


      <c-accordion title="'Notwendige Kenntnisse'" ng-show="neededCompetences.length > 0">
        <!-- @TODO: use ion-list? -->
        <div class="row" ng-repeat="competence in neededCompetences">
          {{ competence.name }}
        </div>
      </c-accordion>

      <c-accordion title="'Notwendiges Material'" ng-show="neededMaterial.length > 0">
        <!-- @TODO: use ion-list? -->
        <button class="button button-block button-outline icon-right ion-chevron-right" ng-repeat="material in task.neededMaterial">
          {{ material.name }}
        </button>
      </c-accordion>

      <c-accordion title="'Unteraufgaben'" ng-show="task.childTasks.length > 0">
        <ion-list>
          <div ng-repeat="subTask in task.childTasks" ng-cloak>
            <task-preview task="subTask" ng-click="loadSingleTask(subTask.id)"></task-preview>
          </div>
        </ion-list>
      </c-accordion>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer">
    <div class="button-bar" ng-cloak>
      <button ng-click="enroll()" ng-if="showEnroll" class="button button-small button-outline button-balanced ion-checkmark"> Ich arbeite mit! </button>
      <button ng-click="cancel()" ng-if="showCancel"  class="button button-small button-outline button-assertive ion-close"> Absagen </button>
      <button ng-click="follow()" ng-if="showFollow"  class="button button-small button-outline button-positive "> Folgen </button>
      <button ng-click="cancel()" ng-if="showUnfollow" class="button button-small button-outline button-assertive"> Nicht mehr folgen </button>
      <button ng-click="delete()" ng-if="showDelete"  class="button button-small button-outline button-assertive"> Löschen </button>
    </div>
  </ion-footer-bar>
</ion-view>
